body{
	background: url('http://img03.taobaocdn.com/tps/i3/T1bOH_XgJbXXX6DYsb-100-100.gif') repeat scroll 0 0 #F4F4F4;
	font: 12px "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	max-width: 1800px;
}
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
a:hover{
	text-decoration: none;
}
.top-nav{
	position: relative;
	width:10%;
	float:left;
	margin-right: 0;
	font-size:16px;
}
#container {
	float: left;
	width: 90%;
	border-top: 10px solid transparent;
	margin-right: -160px;
	min-width: 990px;
	margin-bottom:2em;
}
.container{
	margin-left: 0;
	width:auto;
}
#extrol {
	display: block;
	position: relative;
	z-index: 1;
	float: left;

}
.top-nav li,.top-nav li.logo{
	border-bottom: 1px solid #e3e3e3;
}
.top-nav li.logo a{
	height: auto;
}
.top-nav li a{
	background-color: rgba(255, 255, 102, 0);
	color: #aaa;
	display: block;
	width: auto;
	padding: 10px 0 10px 22px;
	height: 32px;
	zoom: 1;
}
.top-nav li a:hover {
	background: -moz-linear-gradient(top,rgba(243, 243, 243, 1) 0,rgba(230, 230, 230, 1) 200%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(243, 243, 243, 1)),color-stop(200%,rgba(230, 230, 230, 1)));
	background: -webkit-linear-gradient(top,rgba(243, 243, 243, 1) 0,rgba(230, 230, 230, 1) 200%);
	background: -o-linear-gradient(top,rgba(243, 243, 243, 1) 0,rgba(230, 230, 230, 1) 200%);
	background: -ms-linear-gradient(top,rgba(243, 243, 243, 1) 0,rgba(230, 230, 230, 1) 200%);
	background: linear-gradient(top,rgba(243, 243, 243, 1) 0,rgba(230, 230, 230, 1) 200%);
	*background:#e6e6e6;
	color:rgba(0,0,0,0.6);
	*color:#444;
}
.top-nav li.current_page a{
	background: none repeat scroll 0 0 #ffffff;
	color:rgba(0,0,0,0.6);
	*color:#444;
	font-weight: bold;
}
.top-nav li.current_page a:hover{
	background-color:#fff ;
}
.top-nav li a, .nav .siderbar-section ul li a{
	-moz-transition:background-color 0.3s ease 0s;
	-webkit-transition:background-color 0.3s ease 0s;
	-ms-transition:background-color 0.3s ease 0s;
	-o-transition:background-color 0.3s ease 0s;
}
#container .contain-fl{
	background-color: #fff;
	border:1px solid #e6e6e6;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
	padding-bottom:1em; 
	margin-right: 160px;
	border-radius: 10px;
	min-height: 500px;
}
.top-nav li.logo{
	margin: 10px 0 0 0;
}
.top-nav li.current_page{
	margin-right:-1px; 
}
.top-nav li.logo a:hover{
	background:none;
}
.contain-fl .contain-fl-main{
	margin-top: 2.3em;
	padding: 0.5em 0;
}
.col{
	float:left;
}
.col.side{
	position: relative;
	top: auto;
	padding: 0 0 0 20px;
	width: 130px;
}
.col.sidebar{
	width:11.3%;
}
.col.main{
	padding:0;
	width: 88.7%;
}
.main-section{
	margin-bottom: 4em;
	padding: 0 2em 4em;
	min-width: 950px;
}
.sidebar-section{
	margin:1em 0 1em;
	font-size:16px;
}
.sidebar-section ul li{
	display: block;
	margin-top:1.2em;
	line-height: 30px;
}
.sidebar-section ul li a{
	display: block;
	height: 28px;
	line-height: 28px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	border-bottom:1px solid #ededed;
	letter-spacing: 0.25em;
	padding:0.25em 0.5em 0.25em 25%;
	-moz-transition:all 0.2 ease 0s;
	-webkit-transition:all 0.2 ease 0s;
	-ms-transition:all 0.2 ease 0s;
	-o-transition:all 0.2 ease 0s;
	font-size:0.9em;
	color:#41b7d8;
	break-word:keep-all;
	zoom:1;
}
.sidebar-section ul li a:hover,.sidebar-section .bui-menu-item-selected a{
	background: #ececec;
	background: -moz-linear-gradient(left,rgba(255, 255, 255, 1) 0,rgba(236, 236, 236, 1) 100%);
	background: -webkit-gradient(linear,top left ,top right,color-stop(0,rgba(255, 255, 255, 1)),color-stop(100%,rgba(236, 236, 236, 1)));
	background: -webkit-linear-gradient(left,rgba(255, 255, 255, 1) 0,rgba(236, 236, 236, 1) 100%);
	background: -o-linear-gradient(left,rgba(255, 255, 255, 1) 0,rgba(236, 236, 236, 1) 100%);
	background: -ms-linear-gradient(left,rgba(255, 255, 255, 1) 0,rgba(236, 236, 236, 1) 100%);
	background: linear-gradient(left,rgba(255, 255, 255, 1) 0,rgba(236, 236, 236, 1) 100%);
	filter: progid:dximagetransform.Microsoft.gradient(startcolorstr='#FFFFFF',endcolorstr='#ececec',gradienttype=1);
	color:#444;
	border-color:#E53B2C; 
}
.side .download{
	margin:1em 0;
	position: relative;
}
.side .download a{
	display: block;
	background: -moz-linear-gradient(top,rgba(233, 92, 51, 1) 0,rgba(229, 59, 44, 1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(233, 92, 51, 1)),color-stop(100%,rgba(229, 59, 44, 1)));
	background: -webkit-linear-gradient(top,rgba(233, 92, 51, 1) 0,rgba(229, 59, 44, 1) 100%);
	background: -o-linear-gradient(top,rgba(233, 92, 51, 1) 0,rgba(229, 59, 44, 1) 100%);
	background: -ms-linear-gradient(top,rgba(233, 92, 51, 1) 0,rgba(229, 59, 44, 1) 100%);
	filter: progid:dximagetransform.Microsoft.gradient(startcolorstr='#e95c33',endcolorstr='#e53b2c',gradienttype=0);
	background: linear-gradient(top,rgba(233, 92, 51, 1) 0,rgba(229, 59, 44, 1) 100%);
	border:1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	color:#fff;
	height:3.2em;
	line-height: 3.2em;
	position: relative;
	width: 130px;
	text-align:center;
	font-size:16px;
	margin-bottom:10px;
}

#extrol .join{
	margin-top:2em;
}
#extrol .join .join-team li{
	float:left;
	padding: 4px 0;
	height: 55px;
	margin-right:1em; 
}
.join-team li.loo{
	background: url('http://img01.taobaocdn.com/tps/i1/T14zDZXdlnXXXAZwbn-74-29.png') no-repeat scroll center center;
	width: 74px;
	opacity: 0.75;
	filter:alpha(opacity=75);
}
.join-team li.loo:hover{
	opacity: 1;
	filter:alpha(opacity=100);
}
.join-team li a{
	display: block;
	height: 100%;
	filter:alpha(opacity=0);
	opacity: 0;
	width: 100%;
	line-height: 55px;
}

@media only screen and (max-width :1730px){
	body{
		border-left: 10px solid transparent;
	}
	.top-nav{
		width:100%;
	}
	.top-nav ul{
		width:100%;
		float:left;
	}
	.top-nav li a{
		padding:2.5em 1em 0.5em;
	}
	.top-nav ul li{
		float:left;
		border:none;
		border-right:1px solid #e6e6e6;
	}
	
	.top-nav li.logo{
		margin: 0 0 10px;
		box-shadow: none;
		border:none;
		border-right: 1px solid #e6e6e6;
	}
	.top-nav li.logo a{
		padding-bottom: 0;
		padding-top: 24px;
	}
	#container {
		float:left;
		width:100%;
		border:none;
		margin-bottom: 2em;
	}
	#container .contain-fl {
		margin-top: -1px;
		border-left:none;
		border-radius: 0 10px 10px 0;
	}
	.side .download{
		margin-top: 0;
	}
}
@media only screen and (max-width :1565px){
	.contain-fl .contain-fl-main{
		margin-top: 2em;
	}
	.sidebar-section ul li .o-item{
		display: none;
	}
	.col.main, .col.sidebar{
		float:none;
		width:100%;
	}
	.col.sidebar .sidebar-section{
		border:none;
		margin:0;
	}
	.sidebar-section ul{
		min-width: 1100px;
	}
	.sidebar-section ul li{
		float:left;
		margin-top: 10px;
	}
	.sidebar-section ul li a{
		font-size:0.75em;
		padding: 0 1.5em;
	}
	.sidebar-section ul li a:hover,.sidebar-section .bui-menu-item-selected a{
		background: -moz-linear-gradient(top,rgba(255, 255, 255, 1) 0,rgba(236, 236, 236, 1) 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255, 255, 255, 1)),color-stop(100%,rgba(236, 236, 236, 1)));
		background: -webkit-linear-gradient(top,rgba(255, 255, 255, 1) 0,rgba(236, 236, 236, 1) 100%);
		background: -o-linear-gradient(top,rgba(255, 255, 255, 1) 0,rgba(236, 236, 236, 1) 100%);
		background: -ms-linear-gradient(top,rgba(255, 255, 255, 1) 0,rgba(236, 236, 236, 1) 100%);
		background: linear-gradient(top,rgba(255, 255, 255, 1) 0,rgba(236, 236, 236, 1) 100%);
	}
	.main-section {
	    margin-bottom: 0;
	}

}
@media only screen and (max-width :1410px){
	.top-nav ul{
		width:100%;
		min-width: 950px;
	}
	.col.sidebar{
		min-width:1008px;
		overflow: hidden;
	}
	#container{
		margin-right: 0;
	}
	#container .contain-fl{
		margin-right:0;
	}
	#container .contain-fl {
		border-radius: 0;
	}
	#extrol{
		position: absolute;
		right: 10px;
		top: 10px;
	}
	#extrol .join{
		display: none;
	}

	.col.side{
		width : 290px;
		margin-left: 10px;
	}

	.side .download a{
		float:left;
		margin-right:10px
	}

}

#header-content .top-nav,#header-content .top-nav ul{
		width:100%;
		min-width: 950px;
	}

#header-content  ul{
		width:50%;
		float:left;
	}
#header-content  .top-nav li a{
		padding:2.5em 1em 0.5em;
		height: 76px;
		color: #AAA;
	}
#header-content .top-nav ul li{
		float:left;
		border:none;
		border-right:1px solid #e6e6e6;
		height: 80px;
	}
	
#header-content .top-nav li.logo{
		margin: 0 0 10px;
		box-shadow: none;
		border:none;
		border-right: 1px solid #e6e6e6;
	}
#header-content .top-nav li.logo a{
		padding-bottom: 0;
		padding-top: 24px;
	}

.start{
	width: 1000px;
	margin: 0 auto;
	color: #444;
}
.start li{
	position: relative;
}
.start blockquote{
	border: none;
}

.nav-tabs .bui-tab-item{
	z-index: 10;
}
.start .code-container{
	height: 300px;
	padding: 10px;
	position:relative;
	overflow-y:auto; 
}
.start-title{
	font-family: '微软雅黑';
	height: 32px;
	line-height: 28px;
	font-size: 22px;
	color: #656565;
	font-weight: bold;
}
.start-container{
	float: left;
	position: relative;

}
.start-container a{
	position: absolute;
	left: 0;
	top: 0;
	height: 400px;
	width: 500px;
	display: block;
	background-color: #000;
	opacity: 0.2;
	filter:alpha(opacity=20);
	transition:all 0.2s ease-in-out 0s;
}
.start-container a:hover{
	opacity: 0;
	filter:alpha(opacity=0);
}
.start-container .entrance {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;;
	height: 70px;
	width: 500px;
}
.start-container .entrance .e-bg{
	opacity: 0.5;
	filter:alpha(opacity=50);
	width: 100%;
	height: 100%;
}
.start-container .web .e-bg{
	background-color: #000;
}
.start-container .java .e-bg{
	background-color: #000;
}
.start-container .entrance strong{
	background: url('../img/door.png') no-repeat -40px 0;
	display: block;
	height: 70px;
	width: 195px;
	position: absolute;
	right: 0;
	top: 0;
	color: #fff;
	line-height: 70px;
	font-size: 22px;
	font-family: '微软雅黑';
	font-weight: normal;
}